/* retina */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* @media */
$tablet: 767px;
$tablet-l: 1023px;
$desktop-s: 1319px;
$desktop-m: 1559px;
$desktop-l: 1699px;

/* fonts */
$primary-font: "Montserrat", "Arial", sans-serif;
$secondary-font: "Courier New", monospace;

$primary-color: #5957DB;
$primary-link-color: #FFFFFF;
$active-link-bg-color: #ECF2FF;
$link-border-radius: 50px;
$svg-stroke-color: transparent;
$svg-fill-color-active: #5957DB;