@use './global/library.scss';

$border-list-color: #FFFFFF;
$container-border-radius: 8px;

.cinemas__container {
	border: 2px solid $border-list-color;
	background-color: $border-list-color;
	border-radius: $container-border-radius;
	cursor: pointer;
	position: relative;
	z-index: 0;
	width: 100%;
	user-select: none;

	@media (max-width: library.$desktop-s) {
		border-width: 1px;
	}
}

.cinemas__content {
	display: flex;
	align-items: center;
	padding: 14px 24px;

	span {
		margin-right: 16px;
		text-transform: uppercase;

		@media (max-width: library.$desktop-s) {
			margin-right: 10px;
			font-size: 14px;
			line-height: 18px;
		}

		@media (max-width: library.$tablet-l) {
			margin-right: 10px;
			font-size: 10px;
			line-height: 14px;
		}
	}

	@media (max-width: library.$desktop-s) {
		padding: 10px 20px;
	}

	@media (max-width: library.$tablet-l) {
		padding: 8px;
	}
}

.cinemas__list {
	@include library.reset-list;
	width: 100%;

	position: absolute;
	top: 44px;
	left: -2px;
	border: 2px solid $border-list-color;
	border-radius: 0 0 $container-border-radius $container-border-radius;
	background-color: $border-list-color;
	background-color: $border-list-color;
	padding-top: 4px;
	z-index: 1;
	display: none;

	@media (max-width: library.$desktop-s) {
		border-width: 1px;
		left: -1px;
		top: 34px;
	}

	@media (max-width: library.$tablet-l) {
		border-width: 1px;
		left: -1px;
		top: 25px;
	}
}

.cinemas__link {
	display: block;
	padding: 14px 24px;
	color: inherit;
	text-transform: uppercase;

	@media (max-width: library.$desktop-s) {
		font-size: 14px;
		line-height: 18px;
		padding: 10px 20px;
	}

	@media (max-width: library.$tablet-l) {
		margin-right: 10px;
		font-size: 10px;
		line-height: 14px;
		padding: 8px;
	}
}



