$header-color: #ECF2FF;

.header {
	background-color: $header-color;
}

.header__wrapper {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	gap: 100px;
	padding-top: 16px;
	padding-bottom: 16px;
}