@use './global/library.scss';

$header-color: #ECF2FF;

.header {
	background-color: $header-color;

	.container {
		@media (max-width: library.$desktop-s) {
			padding: 20px 40px;
		}
	}
}

.header__wrapper {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	gap: 100px;
	padding-top: 16px;
	padding-bottom: 16px;

	@media (max-width: library.$desktop-s) {
		gap: 20px;
	}
}