@use './global/library.scss';

.interface__wrapper {
	padding: 60px 0;

	@media (max-width: library.$desktop-l) {
		padding: 30px 0;
	}

	@media (max-width: library.$desktop-m) {
		padding: 0 40px;
	}

	@media (max-width: library.$tablet-l) {
		padding: 0 15px;
	}
}

.interface__slider {
	margin-bottom: 60px;

	@media (max-width: library.$desktop-m) {
		margin-bottom: 30px;
	}
}

.interface__schedule {
	margin-bottom: 20px;
}

.interface__screen {
	margin-bottom: 40px;
}

.interface__seats {
	margin-bottom: 70px;
}