.interface__wrapper {
	padding: 60px 0;
}

.interface__slider {
	margin-bottom: 60px;
}

.interface__schedule {
	margin-bottom: 20px;
}

.interface__screen {
	margin-bottom: 40px;
}

.interface__seats {
	margin-bottom: 70px;
}