@use './global/library.scss';

$background: #ECF2FF;
$title-color: #666666;

.payment {
	background-color: $background;
}

.payment__wrapper {
	padding: 40px 60px;

	@media (max-width: library.$desktop-l) {
		padding: 40px 30px;
	}

	@media (max-width: library.$desktop-m) {
		padding: 20px 15px;
	}
}

.payment__title {
	color: $title-color;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
}