@use './global/library.scss';

$item-active: #43D000;
$item-not-active: #ECF2FF;
$item-border-radius: 8px;

.slider {
	display: grid;
	grid-template-columns: 80px auto 80px;
	gap: 30px;
}

.slider__list {
	@include library.reset-list;
	display: flex;
	align-items: center;

	grid-column: 2 / 3;
	overflow-x: hidden;
	width: min-content;
}

.slider__item {
	margin-right: 30px;
	background-color: $item-active;
	box-shadow: 0px 8px 20px rgba(67, 208, 0, 0.6);
	border-radius: $item-border-radius;
	text-align: center;
	min-width: 300px;

	a {
		display: block;
		padding: 30px;
		cursor: default;
	}


	&:last-child {
		margin-right: 0;
	}

	h3 {
		font-size: 24px;
		line-height: 30px;
		color: library.$primary-link-color;
		margin-bottom: 10px;
	}

	h4 {
		color: library.$primary-link-color;
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
	}

	&:not(&--chosen) {
		background-color: $item-not-active;
		box-shadow: none;

		a {
			cursor: pointer;
		}

		h3 {
			color: library.$primary-color;
		}

		h4 {
			color: library.$primary-color;
		}
	}
}

.slider__button {
	cursor: pointer;
	background-color: $item-not-active;
	border: none;

	svg {
		fill: transparent;
		stroke: #CCDAF4;
	}

	&--previous {
		grid-column: 1 / 2;
		grid-row: 1 / -1;
	}

	&--next {
		grid-column: 3 / 4;
		grid-row: 1 / -1;

		svg {
			transform: rotate(-180deg);
			margin-left: 5px;
			margin-top: 5px;
		}
	}
}