@use './global/library.scss';

.tickets {
	background-color: library.$primary-color;
}

.tickets__wrapper {
	padding: 40px 60px;

	@media (max-width: library.$desktop-l) {
		padding: 40px 30px;
	}

	@media (max-width: library.$desktop-m) {
		padding: 20px 15px;
	}
}